*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #283470;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 15px;
    border-radius: 12px;
    font-size: 40px;
    color: aqua;
    background: #283470;
    border: 2px solid aqua;
    transition: all 0.5s;
}

.btn:hover{
    background: aqua;
    color: #283470;
}
.title {
    font-size: 50px;
    color: aqua;
}
#main {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

nav {
    display: flex;
    gap: 20px;

}
#result {
    font-size: 30px;
    color:aqua;
}
.close{
    display: none !important;
}